@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faustina&family=Source+Serif+Pro&display=swap');

body {
    user-select: none;
}

.zona_ordenador{
    /*width: 15vw;*/
    background-color: aqua;
    padding: .5rem;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

#cartas_jugador{
    min-height: 5rem;
    background-color: red;
}

#principal{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 0.08fr 3fr 1fr;
    gap: 1rem;
    /*margin: 0rem 8rem;*/
    width: 90vw;
    
}

#btn_jugar {
    grid-area: 1/1;
    justify-self: center;
    align-self: center;
    font-family: 'Faustina', serif;
    font-size: 1.7em;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
}


#principal h1 {
    grid-area: 1/2;
    
    /*font-family: 'Source Serif Pro', serif;*/
    font-family: 'Faustina', serif;
    text-align: center;
    font-size: 3em;
}
#ayuda {
    grid-area: 1/3;
    width: 3rem;
    height: 3rem;
    border-radius: 10rem;
    justify-self: center;
    align-self: center;
    font-family: 'Faustina', serif;
    font-size: 1.7em;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    
}
#cartas_jugadas, .zona_ordenador {
    margin-top: 2rem;
}

#cartas_jugadas{ 
    grid-area:2/2/3/3; 
    background-color: blanchedalmond;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 5rem;
}

#cartas_ordenador1{ 
    grid-area: 2/1/3/2;
    display: flex; 
    flex-direction: column; 
}
#cartas_ordenador1 div, #cartas_ordenador2 div {
    margin-top: 5rem;
    flex-grow: 4;
}
#cartas_ordenador2{ 
    grid-area: 2/3/3/4;
    display: flex;
    flex-direction: column;
}

#txt_cartas_jugador {
    grid-area: 3/1;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}

#cartas_jugador{ 
    grid-area: 3/2/4/3;
    text-align: center;
    
}
#cartas_jugador img {
    cursor: pointer;
    width: 5.5rem;
}


.carta-reverso {
    width: 10vw;
    position: absolute;
    z-index: 0; 
    justify-self: center;
}
.carta-reverso2 {
    padding-top: 1.5rem;
    width: 10vw;
    z-index: 1;
    justify-self: center;
}

#zona_oro {
    grid-area: 1;
    background-color:darkorange;
}

#zona_copa {
    grid-area: 1/2;
    background-color:darkred;
}
#zona_espada {
    grid-area: 1/3;
    background-color:darkblue;
}

#zona_basto {
    grid-area: 1/4;
    background-color:darkgreen;
}

#zona_oro, #zona_copa, #zona_espada, #zona_basto{
    text-align: center;
}

#zona_oro img, #zona_copa img, #zona_espada img, #zona_basto img{
    padding:0 1rem;
    width: 8rem;
}

@-webkit-keyframes slide {
    0%   { transform: translate(0px,200px); }
    100% { transform: translate(0px,0px); }
  }
  @-moz-keyframes slide {
    0%   { transform: translate(0px,200px); }
    100% { transform: translate(0px,0px); }
  }
  @-o-keyframes slide {
    0%   { transform: translate(0px,200px); }
    100% { transform: translate(0px,0px); }
  }
  @keyframes slide {
    0%   { transform: translate(0px,200px); }
    100% { transform: translate(0px,0px); }
  }
  
img{
    /*background-color: skyblue;*/
    animation-name: slide;
    animation-duration: 4s; 
    animation-fill-mode: forwards; 
}
#saltarTurno {
    grid-area: 3/1;
    justify-self: right;
    align-self: center;
    font-family: 'Faustina', serif;
    font-size: 1.2em;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
}